body {
    background: #f7f7f7;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #365899;
}

#mainHeader {
	text-shadow: 1px 1px #ffffff;
}

#mainPanel {
    background: #ffffff;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    padding: 0;
}

#introMessage {
	padding: 16px;
	font-weight: 500;
	color: #666666;
}

#wrapper {
	padding: 5% 15px 5% 15px;
}

#profilePic {
    border: 1px solid #dddfe2;
    border-radius: 2px;
}

#nameBadge {
    padding: 6px;
    font-weight: 500;
}

.inner-panel {
    background-color: #f6f7f9;
	height: 44px;
    padding: 8px;
    text-align: center;
}

.top-panel {
	border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
}

.bottom-panel {
	border-top: 1px solid #dddfe2;
    border-radius: 0 0 2px 2px;
}

.fluid-panel {
    display: flex;
    justify-content: space-between;
}

.friend-panel {
	border-top: 1px solid #dddfe2;
	padding: 8px;
	cursor: pointer;
}

.friend-panel:hover {
	background: #dfe3ee;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

.friend-pic {
	border: 1px solid #dddfe2;
    border-radius: 2px;
	height: 75px;
	width: auto;
}

.friend-name {
	padding: 6px;
	font-weight: 500;
}

.friend-birthday {
	padding: 6px;
}

.interest-panel {
	background: #e0e0e0;
	border-top: 1px solid #dddfe2;
	padding: 8px;
	cursor: pointer;
}

.hidden {
    display: none;
}