body {
    background: #f7f7f7;
	font-family: 'Open Sans', sans-serif;
}

/* Preloads images */
body:before {
	content: '';
	display: none;
	background-image: url('../images/search_icon_hover.png');
	background-image: url('../images/search_icon_focus.png');
}

/* ===== Global ===== */

a {
	color: #365899;
}

input::placeholder {
	color: #9d9fa2;
	opacity: 1;
	
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
input:focus::placeholder {
	color: #dddfe2;
	opacity: 1;
}

/* ===== Elements ===== */

/* Displays application name */
#appHeader {
	text-shadow: 1px 1px #ffffff;
}

/* Main application pane */
#appPane {
    background: #ffffff;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    padding: 0;
}

/* Aligns application pane */
#appWrapper {
	padding: 5% 15px 5% 15px;
}

/* Introduction message shown before login */
#introMessage {
	padding: 16px;
	font-weight: 500;
	color: #666666;
}

#privacyPolicyBody {
	padding: 16px;
}

#wrapper {
	padding: 5% 15px 5% 15px;
}

/* User profile picture shown in top panel after login */
#profilePic {
    border: 1px solid #dddfe2;
    border-radius: 2px;
}

/* User name shown in top panel after login */
#nameBadge {
    padding: 6px;
    font-weight: 500;
}

/* Friends list searchbar */
#friendSearch {
	padding: 4px 4px 4px 36px;
    width: 100%;
    border-width: 1px 0 0 0;
    border-color: #dddfe2;
    border-style: solid;
	background-repeat: no-repeat;
    background-position: 4px center;
	background-size: 28px;
    background-image: url('../images/search_icon_base.png');
	
	-webkit-transition: background-image 0.3s ease;
	-moz-transition: background-image 0.3s ease;
	-o-transition: background-image 0.3s ease;
	transition: background-image 0.3s ease;
}
#friendSearch:hover {
	background-image: url('../images/search_icon_hover.png');
	outline: 0;
}
#friendSearch:focus {
	background-image: url('../images/search_icon_focus.png');
	outline: 0;
}

/* Panel offering tools to change friends list display */
#searchTools {
	padding: 4px 8px;
	width: 100%;
	background-color: #f6f7f9;
	border-width: 1px 0 0 0;
    border-color: #dddfe2;
    border-style: solid;
	font-size: 12px;
}

/* ===== Classes ===== */

/* Loading wheel */
.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3b5998; /* Blue */
	border-radius: 50%;
	text-align: center;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Panel within the main application pane */
.inner-panel {
    background-color: #f6f7f9;
	height: 44px;
    padding: 8px;
    text-align: center;
}

/* Panel at the top of the main application pane */
.top-panel {
	border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
}

/* Panel at the bottom of the main application pane */
.bottom-panel {
	border-top: 1px solid #dddfe2;
    border-radius: 0 0 2px 2px;
}

/* Panel which fluidly justifies its contents */
.fluid-panel {
    display: flex;
    justify-content: space-between;
}

/* Panel containing basic friend information; activates
   drop-down list of interest categories */
.friend-panel {
	border-top: 1px solid #dddfe2;
	padding: 8px;
	cursor: pointer;
}
.friend-panel:hover {
	background: #dfe3ee;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

/* Friend panel profile picture */
.friend-pic {
	border: 1px solid #dddfe2;
    border-radius: 2px;
	height: 75px;
	width: auto;
}

/* Friend panel nametag */
.friend-name {
	padding: 6px;
	font-weight: 500;
}

/* Friend panel birthday tag */
.friend-birthday {
	padding: 6px;
}

/* Panel labelling an interest category; activates 
   drop-down list of interest items */
.interest-panel {
	background: #eeeeee;
	border-top: 1px solid #dddfe2;
	padding: 8px;
	cursor: pointer;
}
.interest-panel:hover {
	background: #dddddd;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

/* Panel labelling an interest item, containing
   generated search links */
.interest-item-panel {
	border-top: 1px solid #dddfe2;
	padding: 8px;
  }

/* Content hidden for login or logout state */
.hidden {
    display: none;
}
